<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
          <h4>Próximamente</h4>
          <p>Como aspirante en el campo de proyectos web, tengo la intención de desarrollar sitios web creativos y funcionales en el futuro, como una tienda online, una plataforma de aprendizaje en línea o un sitio web para promover servicios profesionales. Estoy emocionado por aplicar mis habilidades y conocimientos para crear experiencias digitales impactantes y satisfactorias para los usuarios.</p>
        </div>
        <div class="col-sm-12 col-md-4 offset-md-1 col-lg-4 offset-lg-1 parte2">
          <img src="../../../assets/art1.jpg" class="img-fluid img-proyecto">
        </div>
      </div>
    </div>
  </div>
  