<div class="container-fluid perfil-usuario">
  <div class="portada-perfil">
    <img src="http://localhost/multimedia/relleno/fondo-9.png" alt="">
    <div class="avatar-perfil">
      <img [src]="persona?.img" alt="">
      <label for="img" class="cambiar-foto">
        <i class="bi bi-camera"></i>
      </label>
      <input type="file" class="form-control" id="img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
    </div>
    <a href="#" class="editar-portada">
      <i class="bi bi-camera"></i>
    </a>
  </div>
</div>
