.perfil-usuario {
  background-color: #363636;
  margin-bottom: 5rem;
  position: relative;
}

.perfil-usuario .portada-perfil {
  height: 0;
  padding-bottom: 31.25%; /* Relación de aspecto 16:9 (ajustable según tus necesidades) */
  overflow: hidden;
  
}

.perfil-usuario .portada-perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perfil-usuario .editar-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.perfil-usuario .editar-portada:hover {
  opacity: 0.7;
}

.perfil-usuario .avatar-perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 270px;
  position: absolute;
  bottom: -65px;
  left: 2em;
  border-radius: 50%;
  overflow: hidden;
  border: 8px solid #FFFFFF;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .2);
  object-fit: cover;
}

.perfil-usuario .cambiar-foto {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  text-decoration: none;
  opacity: 0;
  transition: all ease-in 200ms;
  cursor: pointer;
}

.perfil-usuario .cambiar-foto i {
  margin-bottom: .5rem;
  font-size: 2rem;
}

.perfil-usuario .avatar-perfil:hover .cambiar-foto {
  opacity: 1;
}

.perfil-usuario .avatar-perfil input[type="file"] {
  display: none;
}
