.perfil-usuario {
  background-color: #363636;
  margin-bottom: 5rem;
  position: relative;
}

.perfil-usuario .portada-perfil {
  height: 0;
  padding-bottom: 38.25%; /* Relación de aspecto 16:9 (ajustable según tus necesidades) */
  overflow: hidden;
  
}

.perfil-usuario .portada-perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perfil-usuario .editar-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.perfil-usuario .editar-portada:hover {
  opacity: 0.7;
}

.perfil-usuario .avatar-perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 270px;
  position: absolute;
  bottom: -77px;
  left: 4em;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #ffffff;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, .2);
  object-fit: cover;
}

.perfil-usuario .cambiar-foto {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  text-decoration: none;
  opacity: 0;
  transition: all ease-in 200ms;
  cursor: pointer;
}

.perfil-usuario .cambiar-foto i {
  margin-bottom: .5rem;
  font-size: 2rem;
}

.perfil-usuario .avatar-perfil:hover .cambiar-foto {
  opacity: 1;
}

.perfil-usuario .avatar-perfil input[type="file"] {
  display: none;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 576px) {
  .perfil-usuario .avatar-perfil {
    width: 150px;
    height: 150px;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .perfil-usuario .avatar-perfil {
    width: 200px;
    height: 200px;
    bottom: -78px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .perfil-usuario .avatar-perfil {
    width: 230px;
    height: 230px;
    bottom: -78px;
    left: 50%;
    transform: translateX(-50%);
  }
}
