<div class="container-fluid perfil-usuario">
  <div class="portada-perfil">
    <img src="../../../assets/art2.jpg" alt="">
    <div class="avatar-perfil">
      <img [src]="persona?.img" alt="">
      <label for="img" class="cambiar-foto">
        <input *ngIf="isLogged && !editando" type="file" class="form-control" id="img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
        <button *ngIf="isLogged && editando" class="btn-logout" (click)="logout()">
          <i class="bi bi-camera"></i>
        </button>
      </label>
    </div>
    <a *ngIf="isLogged && !editando" href="#" class="editar-portada">
      <i class="bi bi-camera"></i>
    </a>
  </div>
</div>