html, body, .cuerpo {
  background-color: #2e2e2e;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


body > * {
  flex: 1;
}